
/* General Styling */

*{
	margin: 0;
	padding: 0;
}

html{
	margin: 0;
	padding: 0;
}

h1 {
   font-family: 'IBM Plex Mono', monospace;
   color: #5AF3BB;
   font-size: 14px;
}

h2{
   font-family: 'IBM Plex Mono', monospace;
   color: #5AF3BB;
   font-size: 15px;
   text-align: center;
   padding-bottom: 20px;
}



ul{
   width: 600px;
   min-width: 400px;
   text-align: center;
   padding-top: 40px;
   margin-right: auto;
   margin-left: auto;

}


li{  
	font-family: 'IBM Plex Mono', monospace;
	font-size: 12px;
	color: #5AF3BB;
	text-align: center;
	list-style-type: none;
	display: inline;
	border: 1px solid #5AF3BB;
	border-radius: 10px;
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 80px;
	padding-left: 80px;
}



li:hover{
    color: red;
}

img{
	width: 400px;
	height: 500px;
}



.glow{
	width: 40%;
	min-width: 400px; 
	border-radius: 10px;
	background-image: url("slowly.gif");
	height: auto;
	box-shadow: 0px 0px 20px #4E7DFD;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
}

/* Section Image styling */

.section:nth-child(1){
	display: none;
	background-image: url("grain.png");
}

.section:nth-child(2){
	display: none;
	background-image: url("grain.png");
}

.section:nth-child(3){
	display: none;
	background-image: url("grain.png");
}

.section:nth-child(4){
	display: none;
	background-image: url("grain.png");
}


.section:nth-child(1) img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}




.section:nth-child(2) img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.section:nth-child(3) img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}


.section:nth-child(4) img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Loader Styling */

#loader{
	height: 100vh;
	background-color: black;
	background-image: url("grain.png");
}

#loader h1{
	text-align: center;
	padding-top: 250px;
	padding-bottom: 80px;
}

#glitch{
	width: 100%;
	height: 100vh;
	display: none;
}

#glitch img{
	width: 100%;
	height: 100vh;
}



#glitch h2{
	text-align: center;
	position: absolute;
	font-size: 20px;
	top: 50%;
	left: 550px;
}


#correct-one{
	display: none;
  	width: 100%;
	height: 100vh;
	background-color: #E36D60;
}

#correct-one h2{
  	text-align: center;
	position: absolute;
	font-size: 20px;
	top: 50%;
	left: 47%;
}

#correct-one a{
	text-align: center;
}


#Incorrect-one{
	display: none;
  	width: 100%;
	height: 100vh;
	background-color: #E36D60;
}

#Incorrect-one h2{
	text-align: center;
	position: absolute;
	font-size: 20px;
	top: 50%;
	left: 47%;
}


#correct-continue{
	position: absolute;
	top: 10%;
	left: 50%;
	width: 20%;
	height: auto;
	border: 1px solid #5AF3BB;
}





#start-button{
	width: 20%;
	margin: auto;
	text-align: center;
	border: 1px solid #5AF3BB;
	padding: 10px;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 12px;
	color: #5AF3BB;
	transition: all .2s ease-in-out;
}


#start-button:hover{
transform: scale(1.1);
}